<div class="mb-5 flex flex-between">
    <a href="/skills" id="go-back">Go Back</a>
    <form action="/skills/<%- skill.id%>?_method=DELETE" method="POST">
        <button class='form-btn' type="submit">Delete Skill</button>
    </form>
</div>
<div class="card">
    <h2>
        <%= skill.skill %>
    </h2>
    <p>
        <%= skill.rating %> / 10
    </p>
    <h3>What does it do?</h3>
    <p>
        <%= skill.about %>
    </p>
</div>