<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head', {title:"All Skills"} )%>


    <body>
        <a href="/" class="go-back">
            &#8592; Go Back</a>
        <h1>My Dev Skills</h1>
        <div class="flex flex-end">
            <a href="/skills/new">Add Skill</a>
        </div>
        <ul>
            <% skills.forEach(skill=> { %>
                <%- include( '../partials/skillIntro' , {skill}) %>
                    <% }) %>
        </ul>
    </body>

</html>