<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head', {title:"Add Skill"} )%>


    <body>
        <a href="/skills" class="go-back">
            &#8592; Go Back</a>
        <h1>Add Skill</h1>

        <form action="/skills" method="POST" class="flex flex-column flex-center add-form card">
            <div class="flex flex-column tb-margin">
                <label for="skill">Skill</label>
                <input type="text" name="skill">
            </div>

            <div class="flex flex-column tb-margin">
                <label for="rating">Rating</label>
                <input type="number" name="rating" min="0" max="10">
            </div>

            <div class="flex flex-column tb-margin">
                <label for="about">About</label>
                <textarea name="about" id="about"></textarea>
            </div>

            <button type="submit">Add Skill</button>
        </form>
    </body>

</html>