<!DOCTYPE html>
<html>
<%- include('./layout/head', {title:'Homepage'} )%>

  <body>
    <h1>
      Express Dev Skills
    </h1>
    <p>What can I do? Let's see below. Check a look at my skills below.</p>
    <a href="/skills">My Skills</a>
  </body>

</html>