* {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

:root {
  --link: #00B7FF;
  --button: #9d3cf2;
}

a {
  color: var(--link);
}

.form-btn {
  background: none;
  border: none;
  padding: 0;
  color: var(--link);
  font-size: 1rem;
  text-decoration: underline;
}

ul li a {
  margin-left: 25px;
}

p {
  margin: 10px 0;
  font-size: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  align-items: center;
  justify-content: space-between;
}

.tb-margin {
  margin: 5px 0;
}

label {
  font-size: 1.5rem;
}

textarea {
  margin-bottom: 25px;
}

textarea,
input {
  padding: 5px;
  margin-top: 5px;
  font-size: 2rem;
}

textarea,
input,
button {
  border: 2px solid var(--button);
  border-radius: 3px;
}

a.button,
button {
  padding: 12px 25px;
  background-color: #fff;
  color: var(--button);
  font-size: 1.5rem;
}

button[type="submit"] {
  cursor: pointer;
}

.card {
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgb(131, 131, 131, .3);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-btn,
#go-back {
  display: block;
}

.block {
  display: block;
  text-align: right;
}

.mb-5 {
  margin-bottom: 25px;
}