* {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

:root {
  --link: #00B7FF;
  --button: #9956d4;
}

a {
  color: var(--link);
}

ul li:not(:last-child) {
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 25px 0;
}

ul li a {
  margin-left: 25px;
}

p {
  margin: 10px 0;
  font-size: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.tb-margin {
  margin: 5px 0;
}

.edit-form,
.add-form {
  margin: auto;
  width: 100%;
}

form div {
  width: 100%;
}

ul {
  list-style-type: none;
}

label {
  font-size: 1.5rem;
}

textarea {
  margin-bottom: 25px;
}

textarea,
input {
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
}

textarea,
input,
button {
  border: 2px solid var(--button);
  border-radius: 5px;
}

button {
  transition: .25s ease;
}

button:hover {
  cursor: pointer;
  background-color: var(--button);
  color: #fff;
}

a.button,
button {
  padding: 12px 25px;
  background-color: #fff;
  color: var(--button);
  font-size: 1.25rem;
}

.card {
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgb(131, 131, 131, .3);
  padding: 50px;
}


.mb-25 {
  margin-bottom: 25px;
}

.form-btn {
  background: none;
  border: none;
  padding: 0;
  color: var(--link);
  font-size: 1rem;
  text-decoration: underline;
}

.form-btn:hover {
  background: none;
  color: var(--link);
}

@media screen and (min-width:720px) {

  .edit-form,
  .add-form {
    width: 500px;
  }
}